body {
    background-color: #FAEBD7;
    overflow-wrap: break-word;
    min-height: 100vh;
}
ul,ol {
	/*list-style: none;*/
	padding: 0;
	margin: 0;
}
.counter {
	font-weight: 550;
	color: #fff;
	background-color: #FF521B;
	border: 1px solid;
	padding: 1.5px 8px;
	border-radius: 50%;
}
.orange-on-white {
	color: #FF521B;
	background-color: #fff;
}
.white-on-orange {
	color: #fff;
	background-color: #FF521B;
}
#tasks-header {
	/*border-bottom: 2px dashed;*/
}
.emphasis {
	font-weight: 550;
}
.cross-text {
	text-decoration-line: line-through;
	color: #ABA9A9;
}
.less-paper-purple {
	background-color:#8862E0;
}
.less-paper-green {
	background-color:#19D895;
}
.less-paper-box-blue {
	background-color: #4DABF5;
}
.less-paper-box-orange {
	background-color: #FFBF33;
}
.less-paper-blue-2 {
	background-color: #2196F3;
}
.tiny-svg {
	width:30px;
	height: auto;
}
.btn-svg {
	width: 30px;
	height: 25px;

	cursor: pointer;
}
.text-def-orange {
	color: #FF521B;
}
.def-orange {
	background-color: #FF521B;
}
